html,
body {
  font-family: 'Space Mono', monospace;
  line-height: 1.4em;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: .5em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
  border-radius: none;
  outline: 1px solid slategrey;
  background-color: #033077;
}

#tp-logo {
  width: auto;
  height: 60px;
}

/*=========== Resuseable classes ==========*/
/*====:: Text color :: ===*/
.text-active {
  color: #033077 !important;
}

/*====:: Positioning :: ====*/
.is-vertical-center {
  position: absolute;
  top: 50%;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.is-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.tp-centered {
  margin: 0 auto;
  padding: 1em;
}

@media (max-width: 744px) {
  .tp-centered {
    width: 100%;
    margin: 0 auto;
    padding: .4em;
  }
}

@media (max-width: 900px) {
  .tp-centered {
    width: 100%;
    margin: 0 auto;
    padding: .4em;
  }
}

/*====:: Background :: ====*/
.is-blue {
  color: #fff;
  background: #033077;
}

.is-light-blue {
  color: #fff;
  background: #0544a8;
}

.is-dark {
  color: #fff;
  background: #2c2c2c;
}

.is-pink {
  color: #fff;
  background: #f02040;
}

.is-basic {
  background: #f3f5fa;
}

/*====:: Buttons :: ====*/
.tp-button {
  font-family: 'Space Mono', monospace;
  font-weight: 600;
  padding: .8em 3em;
}

.tp-button:hover {
  color: #fff;
}

.tp-button-outline {
  color: #fff;
  border: 1px solid #fff;
}

.tp-blue-outline {
  color: #0544a8;
  border: 1px solid #0544a8;
}

.tp-blue-outline:hover {
  color: #0544a8;
}

.tp-fixed-button {
  position: fixed;
  right: 3em;
  right: 4em;
  bottom: 4em;
  padding: .8em 1.1em;
  color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, .19);
  box-shadow: 0 12px 12px rgba(0, 0, 0, .19);
}

.tp-fixed-button:hover {
  color: #fff;
}

.tp-button-social {
  font: 100%/2.5 sans-serif;
  font-family: 'Space Mono', monospace;
  position: relative;
  display: inline-block;
  margin-top: .8em;
  padding: 0 .95em 0 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
}

.tp-button-social:hover {
  color: #fff;
}

.tp-button-social:before {
  font: 120%/1.65 'Space Mono', monospace;
  font-weight: normal;
  font-style: normal;
  float: left;
  margin: 0 .5em 0 0;
  padding: 0 .5em;
  content: '';
  text-align: center;
}

.tp-button-social.slack:before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  line-height: 1.1em;
  padding: .5em .5em;
  content: '\f198';
  background: #4b104c;
}

.tp-button-social.facebook:before {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400;
  line-height: 1.1em;
  padding: .5em .7em .5em .6em;
  content: '\f39e';
  background: #033077;
}

@media (max-width: 900px) {
  .tp-button {
    font-family: 'Space Mono', monospace;
    font-weight: 600;
    padding: .8em 1em;
  }

  .tp-fixed-button {
    display: none;
  }
}

/*====:: Margins :: ====*/
/*:: sm = small and lg = large :: */
.mt-lg {
  margin-top: 3em;
}

.mt-sm {
  margin-top: 1.5em;
}

.mb-sm {
  margin-bottom: 1.5em;
}

.mb-lg {
  margin-bottom: 3em;
}

.mr-lg {
  margin-right: 3em;
}

.mr-sm {
  margin-right: 1.5em;
}

.ml-lg {
  margin-left: 3em;
}

.ml-sm {
  margin-left: 1.5em;
}

/*=========== Sidebar  ===========*/
.nav.toggle {
  padding: 2em .3em !important;
}

.sidebar-toggle {
  position: relative;
  display: none;
  padding: 1em;
  cursor: pointer;
  -webkit-transition: opacity .9s ease-in;
  -o-transition: opacity .9s ease-in;
  transition: opacity .9s ease-in;
}

.tp-mobile-logo {
  display: none;
}

#sub-menu {
  position: fixed;
  top: 0;
  left: 25%;
  display: none;
  height: 100vh;
  padding: 6em 8em;
  -webkit-transition: display .8s ease;
  -o-transition: display .8s ease;
  transition: display .8s ease;
  background-color: #f4f4f4;
}

#tp-nav {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  background-color: #fff;
}

#tp-nav .logo-area {
  position: absolute;
  top: 5%;
  left: 20%;
  display: block;
}

#tp-nav .menu-list a {
  font-family: 'Space Mono', monospace;
  font-size: 14px;
  font-weight: 900;
  line-height: 2.3em;
  padding: 1em .3em;
  letter-spacing: 2px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 744px) {
  #tp-nav .menu-list a {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 900;
    line-height: .4em;
    padding: 1em .3em;
    letter-spacing: 2px;
    border-bottom: 1px solid #ddd;
  }
}

#tp-nav .menu-list a:hover {
  background: transparent;
}

#tp-nav .tp-nav-footer {
  position: absolute;
  bottom: 0;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#tp-nav .tp-nav-footer .social-icons a {
  padding: 3px;
  padding: 1em .3em;
  color: #626262;
}

#tp-nav .tp-nav-footer .copyright p {
  font-family: 'Space Mono', monospace;
  font-size: .6em;
  font-weight: 600;
  padding: 1em .3em;
  color: #626262;
}

.is-active {
  display: block !important;
  -webkit-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}

@media (max-width: 600px) {
  #sub-menu {
    position: fixed;
    top: 0;
    left: 50%;
    display: none;
    height: 100vh;
    padding: 6em 8em;
    -webkit-transition: display .8s ease;
    -o-transition: display .8s ease;
    transition: display .8s ease;
    background-color: #f4f4f4;
  }

  .sidebar-toggle {
    display: inline;
  }

  .tp-mobile-logo {
    display: inline;
  }

  #tp-nav {
    position: fixed;
    z-index: 99;
    display: none;
    width: 50%;
    height: 100vh;
    padding: 0 1em;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }

  .is-active {
    display: block !important;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }
}

@media (max-width: 954px) {
  #sub-menu {
    position: fixed;
    top: 0;
    left: 50%;
    display: none;
    height: 100vh;
    padding: 6em 8em;
    -webkit-transition: display .8s ease;
    -o-transition: display .8s ease;
    transition: display .8s ease;
    background-color: #f4f4f4;
  }

  .sidebar-toggle {
    display: inline;
  }

  .tp-mobile-logo {
    display: inline;
  }

  #tp-nav {
    position: fixed;
    z-index: 99;
    display: none;
    width: 50%;
    height: 100vh;
    padding: 0 1em;
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
  }

  .is-active {
    display: block !important;
    -webkit-transition: .8s;
    -o-transition: .8s;
    transition: .8s;
  }
}

/*============ Main ==============*/
.main-content {
  position: relative;
  position: absolute;
  z-index: 1;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 6em 0;
  background: #fff;
}

/*=========== Top Nav =========*/
.nav {
  position: relative;
  z-index: 999999;
}

.nav a.nav-notification {
  position: absolute;
  right: 4.8em;
  padding: .8em .9em;
}

@media (max-width: 900px) {
  .nav a.nav-notification {
    right: 1em;
    display: inline-block;
  }
}

/*============= Intro ===========*/
.main-content .tp-intro {
  width: 100%;
  height: 100vh;
}

.main-content .tp-intro .tp-intro-content {
  font-family: 'Space Mono', monospace;
  height: 100%;
}

.main-content .tp-intro .tp-intro-content h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.8em;
  width: 100%;
}

.main-content .tp-intro .tp-intro-content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  padding: 2em 0;
}

.main-content .tp-intro .tp-intro-content h1 strong {
  padding: 3px 5px;
  color: #fff;
}

@media (max-width: 634px) {
  .main-content .tp-intro .tp-intro-content p {
    padding: .3em 0;
  }
}

@media (max-width: 744px) {
  .main-content .tp-intro {
    position: relative;
    width: 100%;
    min-height: 60vh;
    padding: .4em;
    text-align: left;
  }

  .main-content .tp-intro .tp-intro-content {
    font-family: 'Consolas', 'Space Mono', monospace;
    margin: 0;
  }

  .main-content .tp-intro .tp-intro-content h1 {
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    font-weight: 500;
    line-height: 2em;
    width: 100%;
    word-break: none;
  }
}

@media (max-width: 900px) {
  .main-content .tp-intro {
    position: relative;
    text-align: left;
  }

  .main-content .tp-intro .tp-intro-content {
    font-family: 'Consolas', 'Space Mono', monospace;
    margin: 0;
  }

  .main-content .tp-intro .tp-intro-content h1 {
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    font-weight: 500;
    line-height: 2em;
    width: 100%;
    word-break: none;
  }
}

/*=================== About  =================*/
.tp-about {
  margin: 0;
  padding: 0;
}

.tp-about .tp-about-content {
  position: relative;
}

.tp-about .tp-about-content .tp-about-img {
  min-height: 100vh;
  background: url('/assets/img/tp-about/tp-about-1.jpg');
  background-position: center center;
  background-size: cover;
}

.tp-about .tp-about-content .tp-about-img2 {
  min-height: 100vh;
  margin-top: -50vh;
  background: url('/assets/img/tp-about/tp-about-2.jpg');
  background-position: center center;
  background-size: cover;
}

.tp-about .tp-about-content #tp-left,
.tp-about .tp-about-content #tp-right {
  padding: 0;
}

.tp-about .tp-about-content .tp-about-text {
  font-family: 'Space Mono', monospace;
  min-height: 50vh;
  padding: 3em 5em 5em 4em;
}

.tp-about .tp-about-content .tp-about-text h1 {
  font-size: 22px;
  font-weight: 600;
  line-height: 2em;
}

.tp-about .tp-about-content .tp-about-text p {
  font-size: 16px;
  font-weight: 400;
}

.tp-about .tp-about-content .tp-about-text a {
  margin-right: .6em;
  text-align: left;
}

@media only screen and (max-width: 594px) {
  .tp-about .tp-about-content .tp-about-img {
    width: 100%;
    min-height: 50vh;
    background-position: top center;
    background-size: cover;
  }

  .tp-about .tp-about-content .tp-about-text {
    min-height: 50vh;
    padding: 5em 5em 2em 4em;
  }

  .tp-about .tp-about-content .tp-about-text p {
    font-size: 16px;
    font-weight: 400;
  }

  .reverse-column-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }

  .tp-about .tp-about-content .tp-about-img2 {
    min-height: 300px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1274px) {
  .tp-about .tp-about-content .tp-about-text {
    min-height: 50vh;
    padding: 2em 2em 2em 4em;
  }
}

@media only screen and (max-width: 954px) {
  .tp-about .tp-about-content .tp-about-img {
    min-height: 50vh;
    background-position: top center;
    background-size: cover;
  }

  .tp-about .tp-about-content .tp-about-text {
    min-height: 100vh;
    padding: 1em 5em 2em 4em;
  }

  .tp-about .tp-about-content .tp-about-text p {
    font-size: 16px;
    font-weight: 400;
  }

  .tp-about .tp-about-content .tp-about-img2 {
    height: 100vh;
    margin-top: 0;
  }
}

@media only screen and (max-width: 769px) {
  .tp-about .tp-about-content .tp-about-img {
    width: 100%;
    min-height: 50vh;
    background-position: top center;
    background-size: cover;
  }

  .tp-about .tp-about-content .tp-about-text {
    min-height: 050px;
    padding: 4em 1.2em 1em 1em;
  }

  .tp-about .tp-about-content .tp-about-text p {
    font-size: 16px;
    font-weight: 400;
  }

  .reverse-column-order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
  }

  .tp-about .tp-about-content .tp-about-img2 {
   min-height: 50vh;
    margin-top: 0;
  }
}

@media only screen and (max-width: 426px) {
  .tp-about .tp-about-content .tp-about-text {
    min-height: 65vh;
    padding: 3.5em 1.2em 1em 1em;
  }
}

/*============ Featured ===========*/
.tp-featured {
  min-height: 100vh;
  padding: 6em 2em;
  background: #fff;
}

.tp-featured .tp-featured-header {
  font-family: 'Space Mono', monospace;
}

.tp-featured .tp-featured-header h1 {
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
  line-height: 2em;
  color: #393939;
}

.tp-featured .tp-featured-header p {
  font-size: 16px;
  font-weight: 500;
  color: #626262;
}

.tp-featured .tp-featured-content .item .p-box {
  font-family: 'Space Mono', monospace;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 250px;
  margin-top: 2em;
  cursor: pointer;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  text-align: center;
  color: #fff;
  background-color: #fff;
}

.tp-featured .tp-featured-content .item .p-box .content {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  height: 3em;
  margin: auto;
  padding: 0 1em;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.tp-featured .tp-featured-content .item .p-box:hover {
  background: #fcbc2d;
}

.tp-featured .tp-featured-content .item .p-box:hover .content {
  height: 8em;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.tp-featured .tp-featured-content .item .p-box .content img {
  width: 60%;
  margin: 0 0 5px 0;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
}

.tp-featured .tp-featured-content .item .p-box:hover img {
  width: 40%;
}

.tp-featured .tp-featured-content .item .p-box .content p {
  font-size: 16px;
  line-height: 1.5em;
  visibility: hidden;
  height: 0;
  margin: 5px;
  text-align: left;
  opacity: 0;
  color: #626262;
}

.tp-featured .tp-featured-content .item .p-box:hover p {
  visibility: visible;
  height: 3em;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  transition: all .8s ease;
  opacity: 1;
}

/*======== People ============*/
.tp-people {
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
  padding: 2em 0;
}
.tp-people .tp-people-heading h1 {
  padding: 0 2em 2em 0;
}
.tp-people .tp-sec .tp-left {
  position: relative;
  padding: 0;
}

.tp-people .tp-sec .tp-left .tp-img-grid {
  position: relative;
  width: 100%;
  margin: 0 auto;

}

.tp-people .tp-sec .tp-left .tp-img-grid .tp-img-grid-item {
  margin: -.6em 0;
  padding: 0;
  color: #222;
}

.tp-people .tp-sec .tp-left .tp-img-grid .see-more {
  position: absolute;
  right: 0;
  bottom: 18px;
  padding: .8em .6em;
}

.tp-people .tp-sec .tp-left .tp-img-grid .see-more:hover {
  color: #fff;
}

.tp-people .tp-sec .tp-left .tp-img-grid .tp-img-grid-item img {
  width: 100%;
}

.tp-people .tp-sec .tp-left .tp-people-heading {
  font-size: 30px;
  font-weight: 600;
  line-height: 2em;
  line-height: 2em;
  padding: 2.8em 0 0 2em;
  color: #fff;
}
.tp-people .tp-sec .tp-right .tp-right-text {
  position: relative;
  height: 70vh;
  padding: 5.4em 0 0 3em;
}

.tp-people .tp-sec .tp-right .tp-right-text p {
  font-size: 20px;
  font-weight: 500;
  color: #ddd;
}

.tp-people .tp-sec .tp-right .tp-right-text .bottom-text {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.tp-people .tp-sec .tp-right .tp-right-text .bottom-text p {
  font-size: 18px;
  margin: 30px 0;
}

.tp-people .tp-sec .tp-right .tp-right-text .bottom-text .tp-button {
  position: relative;
  color: #0544a8;
  background: #fff;
  margin-right: .8em;
}

.tp-people .tp-sec .tp-right .tp-right-text .bottom-text .tp-button:last-child {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}

.tp-people .tp-sec .tp-right .tp-right-text .bottom-text .tp-button:hover {
  color: #0544a8;
}

.tp-people .tp-sec .tp-right .tp-right-text .bottom-text .tp-button:last-child:hover {
  color: #fff;
}

@media (max-width: 754px) {
  .tp-people {
    padding-bottom: 12em;
  }

  .tp-people .tp-sec .tp-left .tp-people-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 2em;
    line-height: 2em;
    padding: 2.5em 0 0 .6em;
    color: #fff;
  }

  .tp-people .tp-sec .tp-right .tp-right-text {
    min-height: 50vh;
    padding: 2.4em 0 0 .6em;
  }

  .tp-people .tp-sec .tp-right .tp-right-text .bottom-text {
    position: static;
  }

  .tp-people .tp-sec .tp-left .see-more {
    display: none;
  }
}

@media (max-width: 954px) {
  .tp-people .tp-sec .tp-left .tp-people-heading {
    font-size: 30px;
    font-weight: 600;
    line-height: 2em;
    line-height: 2em;
    padding: 2.5em 0 0 .6em;
    color: #fff;
  }

  .tp-people .tp-sec .tp-right .tp-right-text {
    min-height: 50vh;
    padding: 2.4em 0 0 .6em;
  }

  .tp-people .tp-sec .tp-right .tp-right-text .bottom-text {
    position: static;
  }

  .tp-people .tp-sec .tp-left .see-more {
    display: none;
  }
}
@media only screen and (min-width: 1274px) {
  .tp-people .tp-sec .tp-right .tp-right-text {
  position: relative;
  min-height: 63vh;
  padding: 5.4em 0 0 3em;
}
}
/*======== Footer =======*/
.tp-footer {
  font-family: 'Space Mono', monospace;
  position: relative;
  min-height: 30vh;
  padding: 6% 1%;
  padding-bottom: 0;
  text-align: center;
  background: #eee;
}

.tp-footer p {
  color: #626262;
}

.tp-footer p span {
  color: #f00;
}

.tp-footer .mail {
  color: #033077;
}

.tp-footer .copyright {
  line-height: 12em;
}